body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
    text-align: center;

}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 30px;
    margin: 0;
    border-bottom: 10px solid black;
	  font-size: 60px;
    text-transform: uppercase;

}


p {
    text-align: justify;
    margin: 20px 0;
}

.block-bios{
    padding: 20px;
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
    float: right;
}
.block-bios2{

    padding: 20px;
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
    float: left;  
}
.p-main{
    text-align: justify;

}

aside, img {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    float: right;
    width: 15%;

}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}
main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
div{

  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
em {
	font-style: italic;
}

h2 {
	font-size: 30px;
    clear: both;
}
main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}
aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

.icones-redesociais li{
  display: inline-block;
}
article{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

}

.container {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}
aside li{ 
display: block;
height: 40px; 
}
.social-rodape{

    margin: 60px;

}
.h1-main{

    text-transform: uppercase;
}

.icones-redesociais a{

    
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}
.twitter-icon{
    background-image: url(twitter.png);
}
.github-icon{
    background-image: url(github.png);

}
.link-icon{
    background-image: url(linkedin.png);
}

aside{
    clear: right;
    box-sizing: border-box;
}
.main-id{
    float: left;
    width: 85%;
}
footer{
    clear: both;
}
