h1{
	font-size: 30px;
	background-color: rgb(100, 39, 65);
	color: #8B8682;
	text-align: center;

}

h2{
	font-size: 25px;
	color: #8B8682;
	
	font-family: "Arial";

}
p{	
	color: #8B8682;
	font-family: "Arial";
}
html{
	
}
cite{
	color: #8B8682;
}
